<% layout("layouts/boilerplate") -%>

<div class="container my-3 p-2">
  <h2 class="mb-4">Faculty Data</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Role</th>
          <th>Salary</th>
          <th>Phone No</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% for(const fct of faculty) { %>
        <tr>
          <td><%= fct.faculty_id %></td>
          <td><%= fct.full_name %></td>
          <td><%= fct.role %></td>
          <td>Rs. <%= fct.salary %></td>
          <td><%= fct.phone_no %></td>
          <td><%= fct.address %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
